<h3>Pokémon List</h3>

@if(entrenador()){
<h1>Entrenador: {{ entrenador()?.nombre }}</h1>
}
<ul>
  @for (pokemon of listPokemons(); track $index) {
  <li
    appHighlight
    [ngClass]="{
    'selected': itemSelected && itemSelected.nombre === pokemon.name,
  }"
    (click)="navigateDetalle(pokemon.name, $index)"
  >
    {{ pokemon.name }}
  </li>
  }
</ul>

@defer { @if(itemSelected) {
<app-pokemon-detail
  [nombre]="itemSelected.nombre"
  (closeEmitter)="itemSelected = null"
></app-pokemon-detail>
} }
