<h3>Pokémon List</h3>


<app-entrenador-detail [entrenador]="entrenador()">
<ng-template #extras let-entrenador>
  <div style="border: 3px solid black; ">
    <h4>Detalles Extra</h4>
    <ul>
      <li>{{ entrenador.edad }}</li>
      <li>{{ entrenador.region }}</li>
    </ul>
  </div>
</ng-template>
</app-entrenador-detail>
<ul>
  @for (pokemon of listPokemons(); track $index) {
  <li
    appHighlight
    [ngClass]="{
    'selected': itemSelected && itemSelected.nombre === pokemon.name,
  }"
    (click)="navigateDetalle(pokemon.name, $index)"
  >
    {{ pokemon.name }}
  </li>
  }
</ul>

<button (click)="navigateForm()">Registrar Entrenador</button>

@defer { @if(itemSelected) {
<app-pokemon-detail
  [nombre]="itemSelected.nombre"
  (closeEmitter)="itemSelected = null"
></app-pokemon-detail>
} }
