<button (click)="close()"> Cerrar X</button>
@if(nombre()){ 
    @if(pokemon()){
    <h3>DETALLE POKEMON</h3>
    <h2>{{ pokemon.name | titlecase }}</h2>
    @if(pokemon().sprites.front_default){
    <img [src]="pokemon().sprites.front_default" [alt]="pokemon().name" />
    }
    <ul>
    <li><strong>ID:</strong> {{ pokemon().id }}</li>
    <li><strong>Tipo:</strong> {{ pokemon().types | tipoPokemon }}</li>
    <li><strong>Peso:</strong> {{ pokemon().weight }} kg</li>
    <li><strong>Altura:</strong> {{ pokemon().height }} m</li>
    </ul>
    } @else{
    <p>No se encontró información del Pokémon.</p>
    } 
}
